@import "tailwindcss";

.status-present {
  background-color: var(--ca-status-present);
  /*  @apply bg-green-300 dark:bg-green-600;*/
}

.status-absent {
  background-color: var(--ca-status-absent);
  /*  @apply bg-red-300 dark:bg-red-600;*/
}

.status-leave {
  background-color: var(--ca-status-leave);
  /*  @apply bg-amber-300 dark:bg-amber-600;*/
}
